
.animate-module {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeInOut 3s ease-out;
  }
  
  .success-message {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #28a745;
    font-size: 18px;
    font-weight: bold;
  }
  
  .green-tick {
    margin-right: 10px;
    font-size: 24px;
  }
  /* Keyframe for fadeInOut animation */
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }