

h6{
    white-space: nowrap;
}

th{
    font-size: large;
}

.form-select.search-select{
    width: 100%;
}

.title-column{
    width: 300px !important;
}

.text-orange{
    color: #FF8551 !important;
  }
  .btn.button{
    background-color: #F2752F;
    color: white;
    border: 0;
  }
