
h6{
    white-space: nowrap;
}

th{
    font-size: large;
}

.form-select.search-select{
    width: 100%;
}

.title-column{
    width: 300px !important;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3;
    -webkit-box-orient: vertical;
 }