/* Add this to your CSS */
.custom-modal-width {
    min-width: 1200px; /* Adjust the width as needed */
  }
  .custom-modal-width {
    max-width: 90%;
  }
  
  .comment-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .comment-buttons {
    display: flex;
    align-items: center;
  }
  
  .comment-buttons button {
    margin-right: 10px;
  }
  
  .comment-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .comment-container img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }